# LINE Messaging API Channel Access Token
# LINE Developer Consoleから取得してください
# https://developers.line.biz/console/
LINE_CHANNEL_ACCESS_TOKEN=your_channel_access_token_here
 
# 本番環境では .env ファイルにこの値を設定してください
# .env ファイルは .gitignore に追加してGitにコミットしないでください 